@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'JosefinsSans';
    src: url(./fonts/JosefinSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8D6B94;
    width: 100vw;
    height: 100vh;
}

/* Header Area */

.header {
    width: 100vw;
    font-family: 'JosefinsSans', sans-serif;
    padding: 30px;
    background-color: #5e577e;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: white;
}

.logo h1 {
    font-size: 3rem;
    color: white;
}

.logo .icon {
    width: 50px;
    align-self: flex-start;
    color: white;
    margin-left: -10px;
}


/* Main Content */

.main {
    font-family: 'Roboto';

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 350px;
    gap: 40px;

    padding: 15px;
    padding-top: 25px;
}

/* book sections */

.book-div {
    font-family: 'Roboto';
    font-weight: 600;
    color: rgb(95, 90, 90);
    letter-spacing: 0.05rem;
    background-color: #dfd791;

    padding: 20px;

    border-radius: 10px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.book-div > * {
    text-align: center;
}

/* delete */

.book-div .delete {
    width: 30px;
    align-self: flex-end;
    padding-top: 0px;

    position: absolute;
    top: 10px;

    cursor: pointer;
}

.book-div path {
    fill: #504a6b;
}

/* delete */

.book-div h2 {
    font-size: 1.6rem;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.book-div p {
    font-size: 1.3rem;
}

.book-div > div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;
}

.status-button {
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    background-color: #8D6B94;
    color: white;

    font-size: 1rem;
    font-family: 'Roboto';

    cursor: pointer;
}

/* add book section */

.add-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    font-size: 4rem;
    color:white;
    background-color: #5e577e;
    border-radius: 50%;

    width: 80px;
    height: 80px;

    padding-bottom: 1px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* add book modal */

.modal {
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size: 2rem;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    transform: rotate(45deg);
    cursor: pointer;
}

.add-book-form-div {
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    width: min(70%, 400px);
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: rgb(146, 149, 197);
    border-radius: 10px;
}

.add-book-form {
    height: min(70%, 400px);

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.active {
    display: flex;
}

.add-book-form-div .form-page-section {
    display: flex;
    justify-content: space-around;
    width: 65%
}

.error, .invalid {
    font-size: 1rem;
    color: #c23131;
    align-self: center;
    width: 60%;
}

.add-book-form-div input[type='text'] {
    width: 60%;
    font-size: 1rem;
    font-weight: 600;

    border: none;
    border-radius: 5px;

    padding: 7px;
    
}

.add-book-form-div input[type='number'] {
    width: min(40%, 120px);
    font-size: 1rem;
    font-weight: 600;

    border: none;
    border-radius: 5px;

    padding: 7px;
}

.add-book-form-div button {
    color: #504a6b;
    font-weight: 600;

    padding: 20px 80px;
    background-color: #dfd791;
    font-size: 1.4rem;;
    
    border: none;
    border-radius: 8px;;

    cursor: pointer;
}
